!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
      %title 
        - if @title.nil?
          = "NishBed.com"
        -else
          = "NishBedi.com | #{@title}"
      %meta{:content => "Home page for Nish Bedi", :name => "description"}
        %meta{:content => "https://github.com/Stevancw", :name => "author"}
          / Le HTML5 shim, for IE6-8 support of HTML elements
          /[if lt IE 9]
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          / Le styles
          %link{:href => "css/bootstrap.css", :rel => "stylesheet"}
            %link{:href => "/css/style.css", :rel => "stylesheet"}
              %link{:href => "/css/print.css", :media => "print", :rel => "stylesheet"}
                %link{:href => '/images/favicon.ico', :rel => "shortcut icon"}
                %link{:href => '/images/apple-touch-icon.png', :rel => "apple-touch-icon"}
                  /[if IE 6] <script type="text/javascript" src="http://deathtoie6.com/ie6-not-supported.js" ></script>
  %body
    .container
      .span8
        .thumbnail.span3
          %img{:alt => "", :src => '/images/nish.jpg'}/
        .hero-unit.span4
          %h1 Nish Bedi
          %h2 UK Surgical Trainee
          %p
            %i.icon-map-marker
            London and Birmingham, UK
        .page-header
        %p
          Hi i'm Nish! I am a surgical trainee in Birmingham who is interested in complex urological surgery. I did my undergraduate and postgraduate training in London. 
        %p 
          %b At nighttime I like to plot how to change the world.
        %p
          I became interested in IT solutions for high quality academic writing and collaborations whilst studying a Masters in surgical sciences. I'm interested in providing solutions, workable within the NHS framework to encourage and empower all doctors to create an environment of quality research and professional development.
        / .page-header.noPrint
        /   %h2 Last work
        / #myCarousel.carousel.noPrint
        /   / Carousel items
        /   .carousel-inner
        /     .active.item
        /       %img{:alt => "", :src => "/images/1.jpg"}/
        /       .carousel-caption
        /         %h4 1 - Thumbnail label
        /         %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        /     .item
        /       %img{:alt => "", :src => "/images/2.jpg"}/
        /       .carousel-caption
        /         %h4 2 - Thumbnail label
        /         %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        /     .item
        /       %img{:alt => "", :src => "/images/3.jpg"}/
        /       .carousel-caption
        /         %h4 3 - Thumbnail label
        /         %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        /     .item
        /       %img{:alt => "", :src => "/images/4.jpg"}/
        /       .carousel-caption
        /         %h4 4 - Thumbnail label
        /         %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        /   / Carousel nav
        /   %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
        /   %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
/        .page-header
/          %h2 Education
/        %dl
/          %dt
/            %i.icon-asterisk
/            A-levels 2000-2002
/          %dd 
/            Yes I did go to school; I was very good at it then. I went to 
/            %a{:href => 'http://www.habsboys.org.uk/'} HABS
/            It was fun I liked it a lot.
/          %dt
/            %i.icon-asterisk
/            Medicine MBBS 2002-2008
/          %dd Bart's and The London school of medicine and dentistry
/          %dt
/            %i.icon-asterisk
/            Surgical Materials BSc 2006-2007
/          %dd I made a freaky hand thing. This was when I wanted to be an orthopaedic surgeon but I saw the light.
/          %dt
/            %i.icon-asterisk
/            Surgical Science MSc 2010-2011
/          %dd I went to UCL and did some interesting stuff there.
/        .page-header
/          %h2 Work History
/        %dl
/          %dt
/            %i.icon-asterisk
/            Aenean interdum viverra sodales
/          %dd Phasellus id arcu magna. Sed mollis porta gravida. Cras lobortis, massa non dignissim imperdiet, nunc dolor placerat nisi, nec rhoncus arcu ipsum viverra libero.
/          %dt
/            %i.icon-asterisk
/            Donec lobortis, lectus sed
/          %dd Phasellus id arcu magna. Sed mollis porta gravida. Cras lobortis, massa non dignissim imperdiet, nunc dolor placerat nisi, nec rhoncus arcu ipsum viverra libero.
/          %dt
/            %i.icon-asterisk
/            Cras lobortis
/          %dd Vivamus eu quam dapibus magna vulputate suscipit. Sed ut auctor lectus. Aenean ut turpis ipsum, vitae egestas ante.
/        .page-header
/          %h2 Interests
/        %dl
/          %dt
/            %i.icon-asterisk
/            Aenean interdum viverra sodales
/          %dd Phasellus id arcu magna. Sed mollis porta gravida. Cras lobortis, massa non dignissim imperdiet, nunc dolor placerat nisi, nec rhoncus arcu ipsum viverra libero.
/          %dt
/            %i.icon-asterisk
/            Donec lobortis, lectus sed
/          %dd Phasellus id arcu magna. Sed mollis porta gravida. Cras lobortis, massa non dignissim imperdiet, nunc dolor placerat nisi, nec rhoncus arcu ipsum viverra libero.
/          %dt
/            %i.icon-asterisk
/            Cras lobortis
/          %dd Vivamus eu quam dapibus magna vulputate suscipit. Sed ut auctor lectus. Aenean ut turpis ipsum, vitae egestas ante.
.span3
  %h2 Contact
  %p
    %i.icon-envelope
    nish@example.com
  %p
    %i.icon-comment
    %a#twit{:href => 'https://twitter.com/nishbedi'} Twitter

  %a#printBtn.btn.btn-large.noPrint{:href => "#"}
    %i.icon-print
    Print
  %a#downBtn.btn.btn-large.noPrint{:href => "Curriculum_Vitae.pdf"}
    %i.icon-download
    Download

.container
  %footer
    %p
      %i.icon-envelope
      nish@example.com  
      %i.icon-comment
      %a#twit{:href => 'https://twitter.com/nishbedi'} Twitter
      %i.icon-map-marker
      Department of Surgery
      St Elsewhere Hospital
      London, W1,
      UK
    %p
      Web design by
      %a#twit{:href => 'http://bowinger.com'} Bowinger
      © Nish Bedi 2012-
      - now = DateTime.now
      = now.year
%script{:src => "/js/jquery.js"}
%script{:src => "/js/bootstrap.js"}
%script{:src => "/js/scripts.js"}
