!!!
%html
  %head
    %title
      - if @title.nil?
        = "NishBed.com"
      -else
        = "NishBedi.com | #{@title}"
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}
  %body
    %h1 Hello, world!
    %script{:src => "http://code.jquery.com/jquery-latest.js"}
    %script{:src => "js/bootstrap.min.js"}